.chart rect {
    fill: steelblue;
}

.chart rect:hover {
    fill: turquoise;
}

.chart .rectM {
    stroke: green;
    stroke-width: 1;
    fill: green;
    fill-opacity: .2;
}
.chart .rectM:hover {
    fill: green;
    fill-opacity: .5;
}

.chart text {
    font: 12px sans-serif;
}

.chart .title {
    font: 20px sans-serif;
    color:rgb(31, 119, 180);
}
.bubble-details{
  /*background-color: gray;*/
  width: 70%;
  height: auto;
  margin: 0 auto;
  color:rgb(31, 119, 180);
  /*opacity:0.2;*/
  border-radius: 3px;
  font-family: sans-serif;
  border-top: solid 2px rgb(31, 119, 180);
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
