.chart rect {
    fill: steelblue;
}

.chart rect:hover {
    fill: turquoise;
}

.chart .rectM {
    stroke: green;
    stroke-width: 1;
    fill: green;
    fill-opacity: .2;
}
.chart .rectM:hover {
    fill: green;
    fill-opacity: .5;
}

.chart text {
    font: 12px sans-serif;
}

.chart .title {
    font: 20px sans-serif;
    color:rgb(31, 119, 180);
}

.chart{
    display: inline-block;
    float: left;
    width: 70%;
}
.agency_name{
    display: inline-block;
    float: right;
    width: 15%;
    position: absolute;
    margin-left: 100px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bubble_detail{
    display: inline-block;
    /* background-color: rgba(8, 8, 68, 0.5); */
    color: #fff;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    border-radius: 9px;
    margin-left: -200px;
    width: 25%;
    text-align: center;
    /* margin: 0 auto; */
    position: absolute;
    top:100px;
}